$primary: #ffad1f;
$primary-light: #f4c162;
$primary-grey: #8799a6;
$primary-dark-light: #192734;
$primary-dark: #051219;

$font-primary: $primary;
$font-light: #fff;
$font-grey: $primary-grey;
$font-dark: #000;

$border-primary: $primary;
$border-light: #fff;
$border-grey: #38444d;
$border-dark: $primary-dark;

$background-light: #fff;
$background-grey-dark: $primary-dark-light;
$background-dark-light: $primary-dark;

$danger: #e0245e;